<div class="container">
    <h4>Détail du @Model.Name</h4>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Name</li>
        <li>@Model.Price</li>
        <li>@Model.Qt</li>
        <li>@Model.DateExp</li>
        <li>@Model.DateCrea</li>
        <li>@Model.Remise</li>
    </ul>
    <a asp-action="index">Retour à la liste</a>
</div>
